/*
THis will work if it shows in GIT
*/
body{
	background-color: black;
}
main {
	padding: 50px;
  /* setting font-size to 0 on the parent of a set of inline block elements removes white space between them.    */
  font-size: 0;
}

h1{
	text-align: center;
	color: white;
	font-size: 35px;
	font-family: sans-serif;
}

div > img {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}

.container-one{
	width: 1000px;
	height: 500px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
}

.inner {
  height: 200px;
  width: 50%;
  display: inline-block;
  font-size: 0;
}

.inner-third{
	height: 300px;
	width: 33.33%;
	display: inline-block;
	font-size: 0;
}


}

